.commentContainer{
	display:flex;
	width:100%;
	margin-top:19px;
	padding-bottom:25px;
	border-bottom:1px solid #E6E6E6;
}
.comment{
	width:330px;
	word-wrap:break-word;
	margin:0px;
	margin-left:15px;
	display:block;
	font-size:12pt;
	font-family:OpenSans Regular;
	background-color:white;
	
}
.avatar{
	width:60px;
	height:60px;
}