.avatar{
	width:60px;
	height:60px;
	background-color:#E6E6E6;
	margin-right:15px;
}

.create{
	display:flex;
	margin-top:20px;
} 

.creator{
	width:90%;
	height:80px;
	font-size:12pt;
	font-family:OpenSans Regular;
	border-color:#E6E6E6;
}

.creatorButton{
	width:30%;
	height:37px;
	margin-top:5px;
	border-radius:3px;
	font-size:16pt;
	background-color:#27CCC0;
	color :white;
}

.buttonContainer{
	width:100%;
	display:flex;
}
.void{
	width:70%;
}